/node_modules
/vendor
/backend/vendor
/backend/node_modules
/backend/.env
/backend/storage/*.key
/backend/storage/framework/cache/data/*
/backend/storage/framework/views/*
/backend/storage/framework/sessions/*
/backend/storage/framework/testing/*
/backend/public/storage
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.agents/memory/session-intel/
